/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* == My Reset == */

*,
*:before,
*:after {
  box-sizing: border-box;
}
button {
  border: 0;
}
button:focus {
  outline: 0;
  box-shadow: none;
}
/* Anchor */
a {
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

:root {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    --primary: #fff;
    --secondary: #1c1c21;
    --primaryLink:#f66;
    --primaryText: #c9cdcf;
    --bg: #f7f7f7;
  }
  /* Main CSS */
  
  /* General CSS */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.5;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  /* 
  =============
  Neeraj CSS
  =============
   */

  .container{
      display: flex;
      background-color: var(--primary);
      width: 100%;
      /* padding: 0 5rem; */
      flex-wrap: wrap;
      text-align: center;
  }
  .wrapper{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 1rem;
      justify-content: space-evenly;
  }
  
  .wrapper_box{
      display: flex;
      margin: 0 auto;
      background: #f8f9fa;
      position: relative;
      padding: 2rem;
      box-shadow: 0.5rem 0.5rem 0.8rem rgba(76, 110, 245, .1);

  }
  .wrapper_box2{
      background-color: var(--primaryLink);
  }

  .icon_home{
      margin-top:2rem;
      margin-bottom: .5rem;
      margin-right: 2rem;
  }

  .icon_home_white{
      color: var(--primary);
  }

  .heading{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.section1{
    display: flex;
    width:100%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
  .box{
      display: flex;
      flex-direction: column;
      width: 27%;
      flex-wrap: wrap;
      border: 1px solid #e4e4e4;
      background-color: var(--primary);
      margin: 1rem;
      padding: 1rem;
  }
  .new_item{
      background: #414b52;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      color: var(--primary);
      margin: 0 auto;
  }
  .article_name{
    color: #080808;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 2rem 0 0 0;
  }
  .product_price{
      display: flex;
      flex-wrap: wrap;
      margin: 1rem;
      padding: 1rem 0 0 0;
      color: var(--primaryLink);
      border-top: 1px solid #ddd;
      justify-content: center;
  }
  .price_color{
      color:  #888888;
  }
  .fas, .far{
      color: #6a6c6d;
      font-size: 0.8rem;
      font-weight: 500;
  }

  .icon_home_red{
    color: var(--primaryLink);
  }
  .icon_home_white{
    color: var(--primary);
}

  .status_bar{
      display: flex;
      flex-direction: row;
      /* width: 10rem; */
  }

  .search_box{
      /* width: 12rem; */
      /* height: 10rem; */
      /* margin: 1rem 0; */
  }

  .btn6{
      /* width:6rem; */
      /* height: 5rem; */
      padding: 0.5rem 0.8rem;
      background: var(--secondary);
      display: inline;

  }
  .section2{
    display: flex;
    width:27%;
    padding: 0 10rem;
    flex-wrap: wrap;
    text-align: left;
  }
  .section2 li, .section2 .sidebar_headings~div{
      margin-bottom: 1rem;
  }
  .search_bar {
      width: 100%;
  }
  .sidebar_headings{
      font-size: 1rem;
      font-weight: 600;
      color:#1e272e;
      letter-spacing: 0.2rem;
  }
  .span{
      font-size: 0.8rem;
      font-weight: 400;
  }

  .checked_list{
    list-style: none;
    display: block;
    margin-bottom: 0.9rem;
    color: #8c9398;
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .row{
      display: flex;
      justify-content: start;
      width: 23rem;
      margin-bottom: 1rem;
  }
  .imgContainer {
      width: 30%;
      border: 1px solid var(--primaryText);
      margin-right: 0.5rem;
  }
  .deals_heading{
      font-weight: 600;
      font-size: 0.8rem;
  }
  .imgItem{
      width: 100%;
      height: auto;
  }
  .section3Container{
      width: 67%;
      margin: 0 auto;
  }
  .section3{
      display: flex;
      width:100%;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .shopnow_box{
      width: 27%;
  }
  .ShopNow_pagePhotos{
      width: 100%;
      margin: .5rem;
      padding: .5rem;
      position: relative;
      margin: 0 auto;

  }
  .single_image{
      width: 97%;
      height: auto;
      margin: 0 auto;
  }